# Ignore .vs folder (Visual Studio settings)
.vs/

# Ignore build outputs
C:/Users/HS/Desktop/ToDoWeb/TodoAppMvc/bin
TodoAppMvc/bin/
C:/Users/HS/Desktop/ToDoWeb/TodoAppMvc/obj
TodoAppMvc/obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore IDE-specific files (e.g., Visual Studio Code, JetBrains, etc.)
.vscode/
.idea/

# Ignore other temporary files
*.log
