@{
    ViewBag.Title = "AboutUs";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Set, Complete, Grow!</h1>
            <h3>Each month, over 50 million people come to TODO to manage their daily task, set their task and improve their productivity, and grow in their careers.</h3>
            <p class="lead">Join the TODO to manage your daily Goal.</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card" class="text-center">
            <div class="card-header bg-dark text-white text-center" >Founded in 2005</div>
            <div class="card-body bg-info" >
                Founded in 2005, To-do lists offer a way to increase productivity, stopping you from forgetting things, helps prioritise tasks, manage tasks effectively, use time wisely and improve time management as well as workflow.
                A to-do list can be written on a piece of paper or by utilizing task management software.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">Our Partners</div>
            <div class="card-body bg-info">
                TODO partners with businesses to help them understand, hire, engage, and enable the world's professionals. Our products and services are focused on how you can utilize your time, technical recruiting, market research, and enterprise knowledge sharing. Learn more about our business solutions here.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="'col-sm-12">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">Stack Overflow Offices</div>
            <img class="card-img-top" src="https://previews.123rf.com/images/radub85/radub851505/radub85150500504/40823495-world-map-points-of-interest.jpg" alt="Offices">
            <div class="card-body bg-info" >
                TODO currently employs more than 250 people in its head offices in New York, London and Munich as well as remote workers from Israel, Brazil, Japan, Germany, Slovenia, Spain, Poland, France, Russia, Canada, the UK, and the United States. The company is committed to diversity in the workplace and is currently hiring.
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-light py-3 mt-5">
    <div class="container text-center">
        <p>&copy; 2023 Your To-Do App. All rights reserved, created by MP.</p>
    </div>
</footer>

<script>
    $("a[href='/home/aboutus']").attr("id", "active");
</script>




